@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(201, 245, 245);
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: cadetblue;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: blanchedalmond;
    color: midnightblue;
    border-top: 2px solid rgb(76, 126, 128);
}

menu > ul > li > a:hover {
    background-color: rgb(76, 126, 128);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

span#burger {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover {
    background-color: midnightblue;
    color: blanchedalmond;
}