@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main {
    position: relative;
    height: 100vh;
}

body {
    background: url('../imagens/fundo-mapa.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 615px;
    width: 311px;
    background-color: brown;
    background: url('../imagens/frame-iphone.png') no-repeat;
    
}

iframe#tela {
    position: relative;
    top: 78px;
    left: 22px;
    width: 269px;
    height: 471px;
}